<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/ext4/resources/css/ext-all.css'/>
		<script type='text/javascript' src='/ext4/bootstrap.js'></script>
		<script type='text/javascript' src='/ext4/locale/ext-lang-ru.js'></script>
		<script type="text/javascript" src='/direct/api'></script>
		<script type='text/javascript' src='/components/models'></script>
		<script type='text/javascript' src='/components/main-toolbar'></script>
		<script type='text/javascript' src='/components/users-manage'></script>
		<script type='text/javascript' src='/components/org-new'></script>
		<script type='text/javascript' src='/components/main-orgs'></script>
	</head>
	<body>
		<script type="text/javascript">
			<%- body %>
		</script>
	</body>
</html>
