<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/ext4/resources/css/ext-all.css'/>
		<!-- <script type='text/javascript' src='/ext4/ext-core-debug.js'></script> -->
		<script type='text/javascript' src='/ext4/ext-all-debug-w-comments.js'></script>
		<script type="text/javascript" src="/direct/api"></script>
	</head>
	<body>
		<script type="text/javascript">
			<%- body %>
		</script>
	</body>
</html>
